<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand">Database System</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="tutorials" class="nav-link"></a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link"></a>
        </li>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>